<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>WeFly Back Cover</title>
  <style>
    * { padding: 0; margin: 0; box-sizing: border-box; }
    @page { size: 1500px 600px; margin: 0; }
    body { width: 1500px; height: 600px; }
  </style>
</head>
<body>
<div style="width: 1500px; height: 600px; position: relative; background: white;">
  <!-- Background with fill -->
  <svg style="position: absolute; left: 0; top: 0; width: 1500px; height: 600px;" viewBox="0 0 1500 600" fill="none" xmlns="http://www.w3.org/2000/svg">
    <path d="M1418 0C1463.29 0 1500 36.7127 1500 82V518C1500 563.287 1463.29 600 1418 600H82C36.7127 600 1.22425e-06 563.287 0 518V82C0 36.7127 36.7127 1.22411e-06 82 0H1418Z" fill="#1273EB" fill-opacity="0.14"/>
  </svg>
  <!-- Logo centered -->
  <div style="position: absolute; left: 0; top: 0; width: 1500px; height: 600px; display: flex; align-items: center; justify-content: center;">
    <img style="width: 350px;" src="images/AlternativeLogo.svg" alt="WeFly" />
  </div>
</div>
</body>
</html>